.navbar-nav {
  .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;

    &:hover {
      background-color: #d6e5f1;
      text-decoration: underline;
    }

    &.active {
      color: #24a7e9 !important;
      font-weight: 600;
      background-color: #eef7fc;
    }
  }
}

.btn-link {
  font-size: 1.25rem;
  &:hover {
    color: #dc3545;
    text-decoration: none;
  }
}

